@import 'variables.scss';
@import 'bootstrap/scss/bootstrap';

// Custom Buttons
.btn-circle {
    border-radius: 1.875rem;
}

// make code look nice
code {
    transition: all 300ms ease-in-out;
    @extend .d-block, .bg-dark, .text-light, .w-75, .mx-auto, .px-3, .py-2, .my-4, .rounded;
    cursor: pointer;
    white-space: pre;
    border-left: 10px solid $dark;

    &:hover {
        border-left: 10px solid $warning;
    }
    &.highlight {
        @extend .bg-warning, .text-dark;
        border-left: 10px solid $dark !important;
    }
}

// Style overrides for demo
iframe {
    @extend .w-100, .border, .border-dark, .rounded;
}
.swal2-popup {
    box-shadow: 0 0 10px 3px $warning !important;
}
.swal2-popup.swal2-toast {
    flex-direction: column !important;

    .swal2-content {
        @extend .mt-2, .font-weight-bold;
    }
}